 /* 공통 */
 body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}

.btn:hover {
  color: #fff;
  background-color: #333;
}

.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

.btn.btn--brown {
  border-color: #592818;
  color: #592818;
}

.btn.btn--brown:hover {
  background-color: #592818;
  color: #fff;
}

.btn.btn--gold {
  border-color: #D9AA8A;
  color: #D9AA8A;
}

.btn.btn--gold:hover {
  background-color: #D9AA8A;
  color: #fff;
}

.btn.btn--white {
  border-color: #fff;
  color: #fff;
}

.btn.btn--white:hover {
  background-color: #fff;
  color: #333;
}


.back-to-position {
  opacity: 0;
  transition: 1s;
}

.back-to-position.to-right {
  transform: translateX(-150px);
}

.back-to-position.to-left {
  transform: translateX(150px);
}

.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}

.show .back-to-position.delay-0 {
  transition-delay: 0s;

}

.show .back-to-position.delay-1 {
  transition-delay: 0.3s;

}

.show .back-to-position.delay-2 {
  transition-delay: 0.6s;

}

.show .back-to-position.delay-3 {
  transition-delay: 0.9s;

}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  /* position이 fixed나 absolute일 때는 가로너비를 최소한으로 사용하므로 width를 100%로 설정하여 뷰포트의 100%를 사용한다.*/
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  z-index: 9;
}

header>.inner {
  /* > 표기를 사용함으로써 자식요소인 inner에만 적용되도록 변경 */
  height: 120px;
}

header .logo {
  position: absolute;
  top: 0;
  bottom: 0;
  /* 위아래 각각 0지점에서 시작해서 */
  margin: auto;
  /* 브라우저가 자동으로 마진값을 계산하겠다는 의미 */
  height: 75px;
  /* 그런데 외부여백인 마진값을 계산하기 위해서는 결국 logo의 높이를 알아야 하기 때문에 높이를 명시해야만 가운데정렬이 된다. */
  left: 0;
}

header .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}

header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
}


/* 각 서브메뉴 사이에 수직선 넣기 */
header .sub-menu ul.menu li::before {
  /* :: 입력 시 가상 요소 선택자이고,   before는 앞에 뭔가 입력하겠다는 의미 */
  content: "";
  /* content가 없어도 빈 채로 두면 가상 요소 선택자는 동작하지 않으므로 ""으로라도 남겨둘 것
  가상 요소 선택자는 인라인 요소이므로 가로세로 값을 주기 위해 블록으로 설정  */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  /* position이 absolute일 경우 해당 요소는 자동으로 블록 요소가 된다. */
  top: 0;
  bottom: 0;
  margin: auto;
}

header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  background-color: #F6F5F0;
  font-size: 12px;
  display: block;
  padding: 11px 16px;
  /* 정확한 위치를 클릭하지 않고 주변을 클릭해도 링크가 작동할 수 있게 패딩을 키운다. 하지만 인라인 요소인 a태그는 상하 패딩을 가질 수 없으므로 블록 요소로 변경해버린다. */
  color: #656565;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}


header .sub-menu .search {
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  /* outline: 클릭할 때 나오는 외곽선 */
  background-color: white;
  color: #777;
  transition: width 0.4s;
  font-size: 12px;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: green;
}

header .sub-menu .search .material-icons {
  position: absolute;
  height: 24px;
  /*24px로 넣은 이유: 구글 material-icons의 기본 글씨크기가 24px */
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
  /*  display:none;으로 설정했을 때는 transition이 안먹히고 바로 없어져버린다. */
}

header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

header .main-menu .item {}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

header .main-menu .item:hover .item__name {
  /* item 항목에 hover 했을 때 item__name의 CSS도 지정하고, 안보였던 item__contents도 노출되어야 하기 때문에 hover 가상클래스 선택자를 item__name이 아닌 그냥 item에 설정한다. */
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  /* 뷰포트기준 포지션 */
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}


header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
}

header .main-menu .item .item__contents .contents__menu>ul {
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__contents .contents__menu>ul>li {
  width: 220px;
}

header .main-menu .item .item__contents .contents__menu>ul>li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu>ul>li ul {}

/*CSS상으로 실제 사용하지 않는 ul태그는 삭제
*/
header .main-menu .item .item__contents .contents__menu>ul>li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  /*   마우스를 올리면 손가락 모양이 나온다는 뜻 */
}

header .main-menu .item .item__contents .contents__menu>ul>li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}

header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 700;
}

header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .15);
  /*x축 이동, y축 이동, 블러 정도, 색상 */
  cursor: pointer;
}

 /* FOOTER */
 .footer {
  border-top: 1px solid #333;
  background-color: #272727;

}

.footer .inner {
  padding: 40px 0 60px;
}

.footer .inner .menu {
  display: flex;
  justify-content: center;
}

.footer .inner .menu a {
  font-size: 12px;
  font-weight: 700;
  color: #CCC;
  padding: 15px;
  display: block;
}

.footer .inner .menu .green {
  color: #669900;
}

.footer .inner .btn-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer .inner .btn-group .btn {
  font-size: 12px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.footer .inner .btn-group .btn:last-child {
  margin-right: 0;
}

.footer .inner .info {
  margin-top: 30px;
  font-size: 12px;
  color: #999999;
  display: flex;
  justify-content: center;
}

.footer .inner span {
  margin-right: 20px;
}

.footer .inner .info4 {
  margin-right: 0;
}

.footer .inner .copyright {
  color: #999999;
  font-size: 12px;
  margin-top: 12px;
  text-align: center;
}

.footer .inner .logo {
  margin: 30px auto 0;
}
